/* reset styles*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

/* global */
html {
  scroll-behavior: smooth;
}
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
main {
  flex-grow: 1;
  background-color: #f6f6f6;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}
@font-face {
  font-family: 'Arial';
  src: url('../../assets/fonts/arial.woff2') format("woff2"),
       url('../../assets/fonts/arial.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Georgia';
  src: url('../../assets/fonts/georgia.woff2') format("woff2"),
       url('../../assets/fonts/georgia.woff') format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: 'Georgia';
  font-family: Georgia, serif;
}
/* header styles */
.header {
  background-color: #fff;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 22px;
}
.header-top__logo-title {
  font-family: 'Georgia', serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 0.06em;
  color: #545454;

  transition: all .3s;
}
.header-top__logo:hover .header-top__logo-title {
  color: #f1cdb3;
}
.header-top__logo:hover .header-top__logo-subtitle {
  color: #f1cdb3;
}
.header-top__logo-subtitle {
  margin-left: 4px;
  
  font-family: 'Arial', sans-serif;
  font-size: 13px;
  line-height: 31px;
  letter-spacing: 1.3px;
  color: #292929;

  transition: all .3s;
}
.header-top__menu {
  margin-bottom: 13px;
}
.header-top__menu-items {
  display: flex;
}
.header-top__menu-item {
  margin-top: 2px;
  font-family: 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.1px;
  color: #545454;
}
.header-top__menu-item:first-child {
  letter-spacing: 0px;
}
.header-top__menu-item:hover .header-top__menu-link{
  transition: all 0.5s linear;
  color: #292929;
}
.header-top__menu-item + .header-top__menu-item {
  margin-left: 35px;
}
.header-top__menu-link { 
  color: #545454;
}
.header-top__menu-item--active {
  border-bottom: 3px solid #f1cdb3;
}

/* pets styles */
.pets {
  background-color: #f6f6f6;
}
.pets__inner {
  padding: 81px 0px 101px 0px;
}
.pets__title {
  margin-bottom: 59px;
  font-family: 'Georgia', serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}
.pets__cards {
  margin-bottom: 59px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 40px;
}
.pets__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  border-radius: 9px;

  transition: all .3s linear;
}
.pets__card:hover {
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #fff;
  cursor: pointer;

  transition: all .3s linear;
}
.pets__card:hover .pets__button{
  background-color: #fddcc4;
  border: 2px solid #fddcc4;
  cursor: pointer;

  transition: all .3s linear;
}
.pets__image {
  margin-bottom: 30px;
}
.pets__text {
  margin-bottom: 31px;
  font-family: 'Georgia', serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}
.pets__button {
  margin-bottom: 30px;
  padding: 13px 43px;
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  background-color: transparent;

  font-family: 'Georgia', serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px; 
  letter-spacing: 0.06em;

  transition: all .3s linear;
}
.pets__pagination {
  display: flex;
  justify-content: center;
  
}
.pets__pagination-button {
  width: 52px;
  height: 52px;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Georgia', serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px; 
  letter-spacing: 0.06em;
  color: #292929;
  background-color: #f1cdb3;
  transition: all .3s ease;
  border: none;
}
.pets__pagination-item + .pets__pagination-item {
  margin-left: 20px;
}
.pets__pagination-item--first {  
  background-color: transparent;
  background-image: url('../../assets/icons/pagination/pagination-first.svg');
  background-repeat: no-repeat;
  background-position: center center;
  border: 2px solid #cdcdcd;
}
.pets__pagination-item--previous {
  background-color: transparent;
  background-image: url('../../assets/icons/pagination/pagination-previous.svg');
  background-repeat: no-repeat;
  background-position: center center;
  border: 2px solid #cdcdcd;
}
.pets__pagination-item--next {
  background-color: transparent;
  background-image: url('../../assets/icons/pagination/pagination-next.svg');
  background-repeat: no-repeat;
  background-position: center center;
  border: 2px solid #f1cdb3;
  cursor: pointer;
}
.pets__pagination-item--last {
  background-color: transparent;
  background-image: url('../../assets/icons/pagination/pagination-last.svg');
  background-repeat: no-repeat;
  background-position: center center;
  border: 2px solid #f1cdb3;
  cursor: pointer;
}
.pets__pagination-item--last:hover, .pets__pagination-item--next:hover {
  background-color: #fddcc4;
  border: 2px solid #fddcc4;
}

/* footer styles */
.footer {
  background: url('../../assets/images/background--second.png'), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 60%), #211F20;
}
.footer__inner {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}
.footer__column {
  display: flex;
  flex-direction: column;
}
.footer__column:nth-of-type(2) {
  margin-left: -8px;
}
.footer__column-title {
  margin-top: 17px;

  font-family: 'Georgia', serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.footer__column-email, .footer__column-telephone, .footer__column-location {
  display: flex;
  align-items: center;

  font-family: 'Georgia', serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #f1cdb3;

  transition: all .2s linear;
}
.footer__column-email:hover, .footer__column-telephone:hover, .footer__column-location:hover {
  color: #fafafa;
}
.footer__column-email p, .footer__column-telephone p, .footer__column-location p {
  margin-left: 20px;
}
.footer__column-email {
  margin: 40px 0;
}
.footer__column-location:nth-of-type(1) {
  margin: 32px 0 33px 0; 
}