@media (max-width: 1050px)  {
  .container {
    padding: 0 30px;
  }
}
/* header */
@media (max-width: 1050px) {
  .header-top {
    margin-bottom: 53px;
  }
  .header-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
  }
  .header-main__content {
    display: flex;
    flex-direction: column;

    margin-top: 0;
    margin-bottom: 101px;
  }
  .header-main__content-text {
    max-width: 80%;
  }
  .header-main__content-button {
    align-self: flex-start;
  }
  .header-main__img {
    align-self: flex-end;
    max-width: 80.3%; 
  }
  .header-main__img img {
    max-width: 100%; 
  }
}

@media (max-width: 768px) {
  .header-main__content-text {
    max-width: 460px
  }
  .header-main__content-button {
    align-self: center;
  }
}

/* about styles */
@media (max-width: 1050px) {
  .about__inner {
    flex-direction: column;
    align-items: center;
    padding: 67px 0px 100px 0px;
  }
  .about__content {
    order: -1;
    max-width: 80%;
    margin-left: 0px;
    margin-bottom: 54px;
  }
  .about__content-text {
    padding-bottom: 25px;
  }
}
@media (max-width: 768px) {
  .about__content {
    max-width: 430px;
  }
}

/* pets styles */
@media (max-width: 1050px) {
  .pets__inner {
    padding: 81px 0px 100px 0px;
  }
  .pets__slider-cards {
    gap: 40px; 
  }
  .pets__slider-card:last-child {
    display: none;
  }
}

/* help styles */
@media (max-width: 1050px) {
  .help__items {
    column-gap: 60px;
  }
  .help__item {
    width: 170px;
  }
}

/* donation styles */
@media (max-width: 1250px) {
  .donation__inner {
    flex-direction: column;
    padding: 80px 161px 100px 143px;
    /* padding: 82px 160px 100px 143px; */
  }
  .donation__image {
    margin-left: 16px;
  }
  .donation__content {
    order: -1;
    /* margin-left: 2px; */
    margin-left: 20px;
    margin-bottom: 60px;
  }
}

/* footer styles */
@media (max-width: 1050px) {
  .footer__inner {
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 15px;
    row-gap: 65px;
    column-gap: 30px;
  }
  .footer__column-first {
    margin-left: 2px;
  }
  .footer__column-second {
    margin-right: 9px;
  }
}

@media (max-width: 768px) {
  .footer__inner {
    column-gap: 0px;
  }
}