/* header */
@media (max-width: 1050px) {
  .container {
    padding: 0 30px;
  }
  .header-top {
    margin-bottom: 53px;
  }
  .header-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
  }
  .header-main__content {
    display: flex;
    flex-direction: column;

    margin-top: 0;
    margin-bottom: 101px;
  }
  .header-main__content-text {
    max-width: 80%;
  }
  .header-main__content-button {
    align-self: flex-start;
  }
  .header-main__img {
    align-self: flex-end;
    max-width: 80.3%; 
  }
  .header-main__img img {
    max-width: 100%; 
  }
}

@media (max-width: 768px) {
  .header-main__content-text {
    max-width: 460px
  }
  .header-main__content-button {
    align-self: center;
  }
}


/* about styles */

@media (max-width: 1050px) {
  .about__inner {
    flex-direction: column;
    align-items: center;
    padding: 67px 0px 100px 0px;
  }
  .about__content {
    order: -1;
    max-width: 80%;
    margin-left: 0px;
    margin-bottom: 54px;
  }
  .about__content-text {
    padding-bottom: 25px;
  }
}
@media (max-width: 768px) {
  .about__content {
    max-width: 430px;
  }
}