/* header */
.header {
  background: url('../assets/images/background.png'), url('../assets/images/background--second.png'), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 70%)  #211F20;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.header-top {
  margin-bottom: 82px;
}
.header-top__logo:hover .header-top__logo-title {
  color: #ffffff;
}
.header-top__logo-title {
  color: #f1cdb3;
}
.header-top__logo-subtitle {
  color: #fff;
}
.header-top__menu-item {
  color: #cdcdcd;
}
.header-top__menu-item:hover .header-top__menu-link {
  color: #fafafa;
}
.header-top__menu-link { 
  color: #cdcdcd;
}
.header-top__menu-item--active {
  color: #fafafa;
}

/* header main*/
.header-main {
  display: flex;
  justify-content: space-between;
}
.header-main__content {
  margin-top: 165px;
}
.header-main__content-title {
  padding-bottom: 42px;
  font-family: 'Georgia', sans-serif;
  font-size: 44px;
  line-height: 57.2px;
  font-weight: 400;
  color: #fff;
}
.header-main__content-text {
  max-width: 460px;
  padding-bottom: 40px;

  font-family: 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #cdcdcd;
}
.header-main__content-button {
  display: inline-flex;
  padding: 15px 45px;
  font-family: 'Georgia', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  border-radius: 100px;
  color: #292929;
  background-color: #f1cdb3;
  cursor: pointer;

  transition: all .3s ease;
}
.header-main__content-button:hover {
  background-color: #fddcc4;
}

/* about */
.about__inner {
  display: flex;
  gap: 40px;
  padding: 80px 175px;
  justify-content: space-between;
}
.about__inner img {
  object-fit: contain;
}
.about__image {
  display: flex;
  justify-content: center;
  max-width: 50%;
}
.about__content {
  max-width: 50%;
}
.about__content-title {
  padding-bottom: 25px;

  font-family: 'Georgia', sans-serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
}
.about__content-text {
  padding-bottom: 25px;

  font-family: 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #4c4c4c;
}

/* pets */
.pets {
  background-color: #f6f6f6;
}
.pets__inner {
  padding: 80px 0;
}
.pets__title {
  margin-bottom: 60px;

  font-family: 'Georgia', sans-serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}
.pets__slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  position: relative;
}
.pets__slider-arrow {
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;

  width: 52px;
  height: 52px;
  border-radius: 100%;
  border: 2px solid #f1cdb3;
  cursor: pointer;

  transition: all .2s linear;
}
.pets__slider-arrow:hover {
  background-color: #fddcc4;
  border: 2px solid #fddcc4;
}
.pets__slider-arrow_wrapper--first {
  margin-right: 12px;
}
.pets__slider-arrow_wrapper--second {
  margin-left: 12px;
}
.pets__slider-arrow--left {
  background-image: url('../assets/icons/left-arrow.svg');
}
.pets__slider-arrow--right {
  background-image: url('../assets/icons/right-arrow.svg');
}
.pets__slider-cards {
  width: auto;
  overflow: hidden;
  position: relative;

  display: flex;
  justify-content: center;
}
.pets__slider-track {
  display: flex;
  gap: 90px;
  width: calc((270px * 3) + (90px * 2));
  min-height: 455px;
}
.pets__slider-card {width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  border-radius: 9px;
  flex-shrink: 0;
  transition: box-shadow 0.3s linear, background-color 0.3s linear;
}
.pets__slider-card:hover{
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #fff;
  cursor: pointer;

  transition: all .3s linear;
}
.pets__slider-card:hover .pets__slider-button{
  background-color: #fddcc4;
  border: 2px solid #fddcc4;
  
  transition: all .3s linear;
}
.pets__slider-image {
  margin-bottom: 29px;
}
.pets__slider-text {
  margin-bottom: 32px;
  font-family: 'Georgia', sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}
.pets__slider-button {
  margin-bottom: 30px;
  padding: 13px 43px;
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  color: #292929;
  background-color: transparent;

  font-family: 'Georgia', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px; 
  letter-spacing: 0.06em;

  transition: all .3s linear;
  cursor: pointer;
}
.pets__main-button-wrapper {
  text-align: center;
}
.pets__main-button {
  display: inline-flex;

  padding: 15px 45px;
  border-radius: 100px;
  border: none;
  background-color: #f1cdb3;

  font-family: 'Georgia', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px; 
  letter-spacing: 0.06em;
  color: #292929;
  cursor: pointer;

  transition: all .3s ease;
}
.pets__main-button:hover {
  background-color: #fddcc4;
}

/* help */
.help {
  padding: 80px 0 100px 0 ;
}
.help__title {
  padding-bottom: 60px;
  font-family: 'Georgia', sans-serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}
.help__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 120px;
  row-gap: 55px;
}
.help__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.help__image {
  margin-bottom: 30px;
}
.help__item-title {
  font-family: 'Georgia', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}

/* donation */
.donation {
  background-color: #f6f6f6;
}
.donation__inner {
  padding: 80px 0px 90px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}
.donation__image {
  max-width: 50%;
}
.donation__content {
  max-width: 50%;
  
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.donation__content-title {
  font-family: 'Georgia', sans-serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
}
.donation__content-subtitle {
  font-family: 'Georgia', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.06em;
  color: #545454;
}
.donation__content-button {
  padding: 10px 15px;
  margin-right: auto;
  
  display: flex;
  align-items: center;

  font-family: 'Georgia', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  border-radius: 9px;
  color: #545454;
  background-color: #f1cdb3;

  transition: all .3s ease;
}
.donation__content-button:hover {
  background-color: #fddcc4;
}
.donation__content-button span {
  margin-left: 15px;
}
.donation__content-text {
  max-width: 390px;
  
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  line-height: 150%;
  color: #b2b2b2;
}