/* header */
.header {
  background-color: #fff;
}
 .header-top {
  margin-bottom: 22px;
}
.header-top__logo:hover .header-top__logo-title {
  color: #f1cdb3;
}
.header-top__logo-title {
  color: #545454;
}
.header-top__logo-subtitle {
  color: #292929;
}
.header-top__menu-item {
  color: #545454;
}
.header-top__menu-item:hover .header-top__menu-link {
  color: #292929;
}
.header-top__menu-link { 
  color: #545454;
}

/* pets */
.pets {
  background-color: #f6f6f6;
}
.pets__inner {
  padding: 80px 0;
}
.pets__title {
  margin-bottom: 60px;

  font-family: 'Georgia', serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}
.pets__cards {
  margin-bottom: 60px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 40px;
}
.pets__card {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fafafa;
  border-radius: 9px;

  transition: all .3s linear;
}
.pets__card:hover {
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #fff;
  cursor: pointer;

  transition: all .3s linear;
}
.pets__card:hover .pets__button{
  background-color: #fddcc4;
  border: 2px solid #fddcc4;
  cursor: pointer;

  transition: all .3s linear;
}
.pets__image {
  margin-bottom: 30px;
}
.pets__text {
  margin-bottom: 31px;
  font-family: 'Georgia', serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}
.pets__button {
  margin-bottom: 30px;
  padding: 13px 43px;
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  color: #292929;
  background-color: transparent;

  font-family: 'Georgia', serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px; 
  letter-spacing: 0.06em;

  transition: all .3s linear;
}
.pets__pagination {
  display: flex;
  justify-content: center;
}
.pets__pagination-button {
  width: 52px;
  height: 52px;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Georgia', serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px; 
  letter-spacing: 0.06em;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all .3s ease;
  border: none;
}
.pets__pagination-item + .pets__pagination-item {
  margin-left: 20px;
}
.btn__disabled {
  border: 2px solid #cdcdcd;
  cursor: not-allowed;
  color: #cdcdcd;
}
.btn__enabled {
  border: 2px solid #f1cdb3;
  color: #292929;
  cursor: pointer;
}
.btn__enabled:hover {
  background-color: #fddcc4;
  border: 2px solid #fddcc4;
}
.pets__pagination-item--counter {
  color: #292929;
  background-color: #f1cdb3;
  border: 2px solid #f1cdb3;
}